Flask==2.2.5
Flask-SQLAlchemy==2.5.1
PyYAML==6.0
pyaspeller==0.1.1
deepmultilingualpunctuation==1.1.3
gramformer==1.0
language-tool-python==3.9.1
SQLAlchemy==1.4.49
Werkzeug==2.2.5
Jinja2==3.1.2
MarkupSafe==2.1.2
itsdangerous==2.1.2
